.button {
  background: var(--primary-color) !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  cursor: pointer;
}

.button {
  background: var(--primary-hover) !important;
}

.button:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}
