.layout {
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  background: white;
  color: black;
  padding: 40px;
  width: 100%;
  max-width: 900px;
  height: 95vh;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media (max-width: 768px) {
  .layout {
    padding: 0;
  }
  .container {
    height: 100vh;
    padding: 20px;
  }
}
