.container {
  max-height: 100%;
}

.container h1 {
  font-size: 3rem;
  letter-spacing: 0.05em;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .container h1 {
    font-size: 2.5rem;
  }
}
